.todo{
    display: flex;
    justify-content: center;
    margin-top: 101px;
}
.input{
    
    display: flex;
    justify-content: center;
    
}
.in{
  width: 22vw;
  height: 3vh;
}
.i{
    /* position:absolute; */
    margin: 6px 7px 8px -18px;
    color: blue;
}

.h3{
    margin: initial;
}
.showItems {
    margin-top: 3rem;
    display: block;
    margin: 15px 31vw;
}
    
  

  .showItems .eachItem h3 {
    padding-left: 1rem;
    font-size: 1.3rem;
    color: #fff;
    margin: -5px;
    
  }
  
  .eachItem {
    background: #fff;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    margin-top: 10px;
    margin-left: 2rem;
    height: 4vh;
    word-break: break-word;
    background: rgb(85, 41, 220);
    display: flex;
    justify-content: space-between;
    
    width: 33vw;
  }
  
  .eachItem:hover {
    background: rgb(249, 249, 252);
    color: rgb(85, 41, 220);
  }
  
  .showItems .eachItem h3 {
    padding-left: 1rem;
    font-size: 1.6rem;
    color: black;
  }
  .eachItem:hover .fa-trash-alt {
    color: rgb(214, 47, 61);
  }

  .eachItem:hover h3 {
      color: blue;
  }
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  .effect04:hover {
    background-color:lightgreen;
  }
  .show{
    margin-top: 3rem;
    display: block;
    margin: 15px 45vw;
  }



  